<table class='english bordered' width='100%'>
	<tr>
		<td>Upastitdi ka vivran</td>
		<td class="bordered">July</td>
		<td>Aug</td>
		<td>Sep</td>
		<td>Oct</td>
		<td>Nov</td>
		<td>Dec</td>
		<td>Jan</td>
		<td>Feb</td>
		<td>March</td>
		<td>April</td>
		<td>May</td>
	</tr>
	<tr>
		<td>Kul Meeting</td>
		<td><?$total_7?></td>
		<td><?$total_8?></td>
		<td><?$total_9?></td>
		<td><?$total_10?></td>
		<td><?$total_11?></td>
		<td><?$total_12?></td>
		<td><?$total_1?></td>
		<td><?$total_2?></td>
		<td><?$total_3?></td>
		<td><?$total_4?></td>
		<td><?$total_5?></td>
	</tr>
	<tr>
		<td>Upastitdi</td>
		<td><?$att_7?></td>
		<td><?$att_8?></td>
		<td><?$att_9?></td>
		<td><?$att_10?></td>
		<td><?$att_11?></td>
		<td><?$att_12?></td>
		<td><?$att_1?></td>
		<td><?$att_2?></td>
		<td><?$att_3?></td>
		<td><?$att_4?></td>
		<td><?$att_5?></td>
	</tr>
</table>