<div id="<?$_name?>">
	<table width="100%">
		<tr>
			<td><?student_panel?>Student Panel<?/student_panel?></td>
			<td width="20%" rowspan=20><?right_panel?>Right Panel<?/right_panel?></td>
		</tr>
		<tr>
			<td width="80%"><?Content?>Default Content<?/Content?></td>
		</tr>
	</table>
	<table width="80%" style="margin-top: 5px">
		<tr>
			<td class='hindi1' style="border:1px solid black" width='18%'>Signature Kaksha-Adhyapak </td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
		</tr>
		<tr>
			<td class='hindi1' style="border:1px solid black">Signature Sanstha-Pradhaan</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
		</tr>
		<tr>
			<td class='hindi1' style="border:1px solid black">Signature AbhiBhavak</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
		</tr>
	</table>
	<table width="100%" style="margin-top:60px">
		<tr>
			<td>Signature Kaksha-Adhyapak</td>
			<td>Signature Janch Karta</td>
			<td>Signature Pariksha Prabhari</td>
			<td>Signature Sansth-Pradhaan</td>
		</tr>
	</table>
</div>